@CHARSET "ISO-8859-1";

body {
	background-color: #EAEBED;
}

h3 {
	font-family: Georgia;
	font-size: 36px;
	text-shadow: 1px1px graytext;
	padding-top: 0;
	margin-top: 0;
}

p {
	font-family: Verdana;
	font-size: 15px;
	line-height: 23px;
}

b {
	font-size: 14.4px;
}

img {
	margin-bottom: 14px;
	margin-right: 10px;
}

.top {
	margin-top: 70px;
}

.padding {
	padding-top: 5px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 5px;
}

.features {
	font-family: Verdana;
	font-size: 18px;
}

.background:HOVER {
	background-color: #F5F5F5;
}

.google_play {
	margin-bottom: 0px;
}

.apk {
	margin-top: 0px;
}

.clearance {
	margin-top: 20px;
}

.clearance_middle {
	margin-top: 33px;
}

.clearance_big {
	margin-top: 38px;
}

@media ( max-width :978px) {
	.padding {
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
	.panel-body {
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.features {
		font-family: Verdana;
		font-size: 18px;
		font-weight: bold;
	}
	p {
		font-size: 17px;
		line-height: 25px;
	}
	b {
		font-size: 16.4px;
	}
	li {
		font-size: 16px;
	}
}